{% extends 'base.html' %}

{% block main %}
    <div id='vue-container'>
        <div class="row mt-5">
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">
                        Door
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">The door is: [[ door.status ]]</h5>
                        <button :class="'btn ' + door_button.class" v-on:click="manipulateDoor()">[[ door_button.text ]]</button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#door-hw-modal" v-on:click="doorHwCheck()">Check HW</button>
                    </div>
                    <div class="card-footer text-muted">
                        <strong>Next Open: </strong>[[ door.next_open ]] <br>
                        <strong>Next Close:</strong> [[ door.next_close ]]<br>
                        <strong>Last Open: </strong>[[ door.last_open ]]<br>
                        <strong>Last Close:</strong> [[ door.last_close ]]<br>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">
                        Led Strip
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">The light is: [[ ledstrip.status ]]</h5>
                        <button :class="'btn ' + door_button.class" v-on:click="ledStripLight()">[[ ledstrip_button.text ]]</button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#ledstrip-hw-modal" v-on:click="ledStripHwCheck()">Check HW</button>
                    </div>
                    <div class="card-footer text-muted">
                        <strong>Next On: </strong>[[ ledstrip.next_on ]] <br>
                        <strong>Next Off:</strong> [[ ledstrip.next_off ]]<br>
                        <strong>Last On: </strong>[[ ledstrip.last_on ]]<br>
                        <strong>Last Off:</strong> [[ ledstrip.last_off ]]<br>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modals/door_hw_modal.html' %}
        {% include 'modals/ledstrip_hw_modal.html' %}
    </div>
{% endblock main %}

{% block custom_scripts %}
  <script type="text/javascript">
        var vue_instance = new Vue({
            el: '#vue-container',
            delimiters: ['[[',']]'],
            data: {
                door: [],
                door_button: [],
                door_hw_check: [],
                ledstrip: [],
                ledstrip_button: [],
                ledstrip_hw_check: [],
            },
            mounted: function() {
                this.getDoor();
                this.getLedStrip();
            },
            methods: {
                getDoor: function () {
                    this.$http.get('/door/1/')
                        .then((response) => {
                            this.door = response.data;
                            this.setDoorButton();
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                getLedStrip: function () {
                    this.$http.get('/led-strip/1/')
                        .then((response) => {
                            this.ledstrip = response.data;
                            this.setLedStripButton();
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                manipulateDoor: function () {
                    this.$http.get('/door/manipulate/1/')
                        .then((response) => {
                            this.door = response.data
                            this.setDoorButton();     
                            this.checkForUpdatedStatus();                  
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                ledStripLight: function () {
                    this.$http.get('/led-strip/light/1/')
                        .then((response) => {
                            this.ledstrip = response.data
                            this.setLedStripButton();
                            this.checkForUpdatedStatus();
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                checkForUpdatedStatus: function() {
                    var timer = setInterval(function(){
                        vue_instance.getDoor()
                        vue_instance.getLedStrip()
                        if (vue_instance.door.status == 'closed' || vue_instance.door.status == 'open' || vue_instance.ledstrip.status == 'on'  || vue_instance.ledstrip.status == 'off') {
                            clearInterval(timer)
                        }
                    }, 500);
                },
                setDoorButton: function () {
                    if (this.door.status.substring(0, 4) == 'clos') {
                        this.door_button.text = "Open"
                        this.door_button.class = "btn-primary"
                    } else {
                        this.door_button.text = "Close"
                        this.door_button.class = "btn-warning"
                    }
                },
                setLedStripButton: function () {
                    if (this.ledstrip.status == 'off' || this.ledstrip.status == 'dimming') {
                        this.ledstrip_button.text = "On"
                        this.ledstrip_button.class = "btn-primary"
                    } else {
                        this.ledstrip_button.text = "Off"
                        this.ledstrip_button.class = "btn-warning"
                    }
                },
                doorHwCheck: function () {
                    this.$http.get('/door/hw-check/')
                        .then((response) => {
                            this.door_hw_check = response.data
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                ledStripHwCheck: function () {
                    this.$http.get('/led-strip/hw-check/')
                        .then((response) => {
                            this.ledstrip_hw_check = response.data
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                }
            }
        });
     </script>
{% endblock custom_scripts %}